html {
  scroll-behavior: smooth;
}

/* контейнер */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* хедр */

.header {
  background: rgb(1, 45, 99);
}

.header .container {
  display: flex;
  align-items: center;
}

.header__logo {
}

.header__nav {
}

.header__nav-list {
  display: flex;
  gap: 29px;
  margin-left: 152px;
}

.header__nav-item {
}

.header__nav-link {
  color: rgb(199, 199, 199);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.header__nav-language-list {
  margin-left: 73px;
  display: flex;
  gap: 5px;
}

.header__nav-language-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header__nav-language-link {
  color: rgb(199, 199, 199);
  width: 81px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}
.header__nav-link:focus,
.header__nav-link:hover {
  color: rgb(255, 255, 255);
}

.header__nav-language-item:last-child .header__nav-language-link {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

/* меин */

/* хиро */

.hero {
  background-image: url("../img/hero.jpeg");
  background-position: center;
  background-size: cover;
  height: 858px;
}

.hero__logo {
  padding-top: 91px;
  width: 160px;
  height: auto;
}
.hero__title {
  color: rgb(255, 255, 255);
  font-family: Playfair Display;
  font-size: 144px;
  font-weight: 400;
  line-height: 192px;

  text-align: left;
}
.hero__subtitle {
  color: rgb(255, 255, 255);
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 400;
  line-height: 96px;

  text-align: left;
}
.hero__paragraph {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.hero-cr {
  color: rgb(255, 255, 255);
  font-family: PT Serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;

  text-align: left;
  padding-left: 25px;
}
.hero__button {
  margin-top: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  border-radius: 10px;
  width: 254px;
  height: 67px;
  background: rgb(142, 50, 198);
}

/* деливери */

.delivery__section {
  background-image: url("../img/sparkling-fireworks.png");
  background-position: center;
  background-size: cover;
  height: 606px;
  padding: 105px 0;
}

.delivery__list {
  display: flex;
  border: 5px solid rgb(251, 0, 255);
  padding: 25px 0;
}

.delivery__item:nth-child(odd) {
  padding: 0 50px;
}
.delivery__item:nth-child(2) {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 95px;
}

.delivery__item:not(:last-child) {
  border-right: solid rgb(255, 255, 255);
}

.delivery__img {
  width: 240px;
}

.delivery__text {
  color: rgb(255, 255, 255);
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;

  text-align: center;
}

/* ревайвс */

.reviews__section {
    
  background-image:url("../img/flowers.png"), url("../img/sparkling-firework.png");
  background-position: bottom left -100px, center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  padding-top: 25px ;
  padding-bottom: 115px;
}

.reviews__title {
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;

  text-align: center;
}
.reviews__list {
  display: flex;
  justify-content: center;
  gap: 93px;
}

.reviews__item {
  border-radius: 17px;
  /* width: 255px; */
  padding: 49px 13px 29px;
}
.reviews__item:nth-child(1) {
  box-shadow: 0px 14px 0px -5px rgb(123, 84, 179),
    0px 30px 0px -13px rgb(83, 57, 120);
  background: linear-gradient(
    135deg,
    rgb(0, 229, 230) 7.292%,
    rgb(0, 168, 247) 26.042%,
    rgb(154, 118, 249) 62.5%,
    rgb(204, 94, 194) 100%
  );
}

.reviews__item:nth-child(2) {
  box-shadow: 0px 14px 0px -5px rgb(145, 89, 177),
    0px 30px 0px -13px rgb(97, 51, 124);
  background: linear-gradient(
    135deg,
    rgb(255, 104, 180) 0%,
    rgb(255, 69, 225) 26.042%,
    rgb(206, 58, 255) 62.841%,
    rgb(137, 97, 255) 100%
  );
}
.reviews__item:nth-child(3) {
  box-shadow: 0px 14px 0px -5px rgb(185, 90, 76),
    0px 30px 0px -13px rgb(115, 47, 38);
  background: linear-gradient(
    135deg,
    rgb(255, 225, 40) 0%,
    rgb(255, 155, 92) 30.208%,
    rgb(255, 131, 129) 63.286%,
    rgb(255, 84, 137) 100%
  );
}

.reviews__text {
    width: 228px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.reviews__datta {
  color: rgb(216, 216, 216);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  text-align: left;
  margin-bottom: 47px;
}

.reviews__avatar__content {
    display: flex;
    gap: 5px;
}

.reviews__avatar {
  margin-left: 13px;
}

.reviews__user-name {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.reviews__info {
  color: rgb(216, 216, 216);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.reviews__flowers {
    background: url("../img/flowers.png"),
    rgba(211, 211, 211, 0) -0.985px 0px / 119.753% 110.554% no-repeat;
  width: 340px;
  height: 380px;
  flex-shrink: 0;
}



/* ордер */

.order__section {
  background-image: url("../img/beach.png");
  background-position: center;
  background-size: cover;
  height: 509px;

}

.order__title {
text-align: center;
  padding-top: 21px;
  color: rgb(255, 255, 255);
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
}

.order__input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 690px;
  margin-left: auto;
  margin-right: auto;
}

.order__item {
  width: 580px;
  height: 50px;
  display: block;
  margin-bottom: 19px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
}
.order__item:nth-child(1) {
  width: 690px;
  height: 60px;
  display: block;
  margin-top: 33px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
}

.order-text {
  border: none;
  width: 532px;
  margin-left: 24px;
  margin-top: 12px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  text-align: left;
}
.order__item:nth-child(1) .order-text {
  border: none;
  width: 600px;
  margin-left: 25px;
  margin-top: 12px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;

  text-align: left;
}

.order__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  border-radius: 10px;
  width: 254px;
  height: 67px;
  background: rgb(142, 50, 198);
}

/* футер */

.footer {
  background: rgb(2, 22, 53);
  height: 292px;
}

.question-list {
}
.questione-item {
  display: flex;
}
.questione-p {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  text-align: left;
}
.link-list {
  text-align: end;
}
.link-item {
  display: flex;
  text-align: end;
}
.footer-link {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  text-decoration-line: underline;
  text-align: end;
}

.footer-p {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.footer-country {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  text-align: left;
  padding-top: 7px;
}
.footer-logo {
}
.footer-cr {
  color: rgb(255, 255, 255);
  font-family: PT Serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;

  text-align: left;
  padding-left: 26px;
}

.information-logo-footer {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.question-x-link {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 20px;
}

/* скролбар */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0);
  box-shadow: 0 0 2px rgb(0, 0, 0) inset;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  background: rgb(63, 73, 251);
  background: radial-gradient(
    circle,
    rgba(63, 73, 251, 1) 0%,
    rgba(81, 0, 255, 1) 49%,
    rgba(132, 15, 182, 1) 72%,
    rgba(121, 34, 93, 1) 93%,
    rgba(102, 25, 97, 1) 100%
  );
  border-radius: 8px;
  border: 3px solid rgb(0, 0, 0);
}

input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}
